[global]
    allow insecure wide links = yes
    nt acl support = no
    map archive = no
    browsable = yes
    read only = no
    follow symlinks = yes
    wide links = yes
    hide dot files = no
