[{{ samba_shares_share.name }}]
    path = {{ samba_shares_share.dir }}
    guest ok = yes
    force user = {{ samba_shares_share.user }}
    force group = {{ samba_shares_share.group }}
{% if samba_shares_share.file_mode is defined %}
    create mask = {{ samba_shares_share.file_mode }}
    force create mode = {{ samba_shares_share.file_mode }}
    security mask = {{ samba_shares_share.file_mode }}
    force security mode = {{ samba_shares_share.file_mode }}
{% endif %}
{% if samba_shares_share.dir_mode is defined %}
    directory mask = {{ samba_shares_share.dir_mode }}
    force directory mode = {{ samba_shares_share.dir_mode }}
    directory security mask = {{ samba_shares_share.dir_mode }}
    force directory security mode = {{ samba_shares_share.dir_mode }}
{% endif %}